{% extends 'base.html.twig' %}

{% block title %}Détails de l'auteur{% endblock %}

{% block body %}
    <h1>Détails de l'auteur</h1>
    {% if author is defined and author is not empty %}
        <div>
            <img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="150">
            <p><strong>Nom :</strong> {{ author.username|upper }}</p>
            <p><strong>Email :</strong> {{ author.email }}</p>
            <p><strong>Nombre de livres :</strong> {{ author.nb_books }}</p>
        </div>
    {% else %}
        <p>Aucun auteur trouvé.</p>
    {% endif %}
{% endblock %}